@import "neat-helpers";

// ------------------------------------------------------------
// Override Neat's grid settings
// ------------------------------------------------------------

$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 3) !default; // Gutter between each two columns
$grid-columns: 12;
$max-width: 1200px;

// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;
$fg-max-columns: $grid-columns;

// ------------------------------------------------------------
// Default Neat Breakpoints
// ------------------------------------------------------------
$medium-screen: 600px;
$large-screen: 900px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// ------------------------------------------------------------
// Match Neat breakpoints to Bootstrap for better
// compatibility with existing themes.
// ------------------------------------------------------------

// Breakpoints
// $medium-screen: 600px;
// $large-screen: 900px;

// Define your breakpoints
// $tablet: new-breakpoint(max-width 768px 8);
// $mobile: new-breakpoint(max-width 480px 4);