<div id="fat-footer">
  <a href="#" data-ga-action="bottom-logo" id="bottom-logo">Brunch with Coctails</a>
  {{! / #bottom-logo --}}
  <div id="bottom-text">
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
      <li><a href="#">Link 5</a></li>
    </ul>
  </div>{{! / .bottom-text --}}
  <p class="copyright vcard">© <span class="fn org">Kevin Garcia</span>.&nbsp; <span class="adr"> <span class="locality">Sunnyvale</span>, <span class="region">California</span> <span class="postal-code">94085</span></span>.</p>
</div>{{! / #fat-footer --}}