<div id="footer">
  <p class="copyright vcard">© <span class="fn org">Stanford University</span>.&nbsp; <span class="adr"> <span class="locality">Stanford</span>, <span class="region">California</span> <span class="postal-code">94305</span></span>.</p>
</div>{{! / #footer --}}