<a id="skiplinks" href="#main" data-ga-action="skip-link" data-ga-label="main">Skip to content</a>
<div id="header__content">
  <div id = "header__lockup">
    <a href="/" id="header__logo"><i class="fa fa-coffee" aria-hidden="true"></i><i class="fa fa-glass"></i></a>
    <div id="header__name">
      <a href="/" data-ga-action="header__name">
      {{#if site-name}}
        {{site-name}}
      {{else}}
        Brunch with Cocktails
      {{/if}}
      </a>
    </div>
  </div>
</div>