<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0" />
<title>{{#if title}}{{title}}{{else}}Brunch, with Cocktails!{{/if}}</title>

<!--
   \ 
       .\"""""""""-.
       \`\––––––-'`/
        \ \__ o . /
         \/  \  o/
          \__/. /
           \_ _/
             Y
             |
             |
         _.-' '-._
        `––––––––-`

+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|Brunch|With|Cocktails|1.0.1|
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
 -->

<link rel="stylesheet" href="css/style.css" />

<script src="js/vendor.js"></script>
<script src="js/app.js" onload="require('initialize');" ></script>

{{>analytics}}