<a id="skiplinks" href="#main" data-ga-action="skip-link" data-ga-label="main">Skip to content</a>
<a href="/" data-ga-action="header__name" class="svg">
  <object type="image/svg+xml" data="img/decantr.svg" class="logo">
  decantr. Pre-mixed, accessible patterns.
  </object>
</a>