---
title: Decanter | Examples
page-id: examples
current-nav-item: Examples

_options:
  layout: app/layouts/main.static.hbs
---

<article>
  

  <section class="example-1">
    <header>
      <h1>Decanter Examples</h1>
    </header>
      <div class="stories">
        <div class="story">
          <code>@include grid-column();</code>
        </div>
        <div class="story">
          <code>@include grid-column();</code>
        </div>
        <div class="story">
          <code>@include grid-column();</code>
        </div>
        <div class="story">
          <code>@include grid-column();</code>
        </div>
        <div class="story">
          <code>@include grid-column();</code>
        </div>
        <div class="story">
          <code>@include grid-column();</code>
        </div>
      </div>
    </section>
</article>