---
_options:
  layout: src/layouts/main.static.hbs
  
title: Home | Decanter
page-id: about
current-nav-item: About
---
<article>
  <header>
    <p><a href="https://github.com/SU-SWS/decanter">Decanter</a> is built on <a href="http://bourbon.io">bourbon</a>, <a href="http://neat.bourbon.io">neat</a>, <a href="http://bitters.bourbon.io/">bitters</a>, and <a href="https://necolas.github.io/normalize.css/">normalize</a>. This demo was built using <a href="http://brunch.io">Brunch</a> and <a href="http://handlebarsjs.com/">handlebars</a>, and is generously hosted by <a href="http://www.netlify.com">Netlify</a>.</p>
    <p>See <code><a href="readme.html">/README.md</a></code> for setup and configuration instructions</p>
  </header>
  <section>
    <p><a href="https://github.com/kgcreative/brunch-with-cocktails">This repo</a> is blank slate template and scaffold that contains minimal styling to allow you to quickly build your own projects. It's minimally scaffolded with some sensible defaults, and differs from bootstrap in that it doesn't attempt to solve for every possible use case. Instead it leverages mixins to allow you to output minimal CSS to achieve your specific project needs, while staying light, extensible and robust.</p>
  </section>
</article>
