---
_options:
  layout: src/layouts/main.static.hbs

title: Home | Brunch-with-cocktails
page-id: about
current-nav-item: About
---
<article>
  <header>
    <p>Welcome to brunch. The brunch-with-cocktails scaffold is built on <a href="http://bourbon.io">bourbon</a>, <a href="http://neat.bourbon.io">neat</a>, <a href="http://decantr.io">decanter</a> (a modified scaffold of <a href="http://bitters.bourbon.io/">bitters</a>, with a few opinionated helper mixins and functions), <a href="https://necolas.github.io/normalize.css/">normalize</a>, and <a href="http://handlebarsjs.com/">handlebars</a> precompiled templates.</p>
    <p>See <code><a href="readme.html">/README.md</a></code> for setup and configuration instructions</p>
  </header>
  <section>
    <p><a href="https://github.com/kgcreative/brunch-with-cocktails">This repo</a> is blank slate template and scaffold that contains minimal styling to allow you to quickly build your own projects. It's minimally scaffolded with some sensible defaults, and differs from bootstrap in that it doesn't attempt to solve for every possible use case. Instead it leverages mixins to allow you to output minimal CSS to achieve your specific project needs, while staying light, extensible and robust.</p>
  </section>
</article>
