/// This variable is a sass map that overrides our generic color map.
/// Use this to define your project's color palette.
///
/// @type map
///
/// @group settings
///
/// @name Colors
///
/// @property {color} color [null]
///   The color value retrieved by the color function
///
/// @example scss
///   $colors: (
///     brand: #8c1515,
///     text: #333,
///     link: #ff4136,
///     link-hover: 82121B,
///     red: #ff4136,
///   );
$colors: (
    brand:                        #8c1616,
    action:                       #b1040e,
    action-active:                #820000,
    background:                   #fff,
    background-secondary:         #f4f4f4,
    border:                       #ccc,
    text:                         #121111,
    text-active:                  #b1040e,
    reverse-text:                 #fff,
    reverse-text-active:          #fff,
  //
  // ------------------------------------
  // Named Colors
  // ------------------------------------
  //
  // Reds
    bright-red:                   #B1040E,
    dark-red:                     #820000,
    black:                        #000,
    charcoal:                     #2F2424,
    stone:                        #808080,
    ash:                          #ccc,
    smoke:                        #f4f4f4,
    white:                        #fff,
);

$buttons: (

);

$social: (
    facebook:                     #4767b1,
    twitter:                      #55acee,
    instagram:                    #125688,
);