@charset "UTF-8";

// -----------------------------------------------------------------------------
// 1. Containers
// -----------------------------------------------------------------------------
@import 'containers';

// -----------------------------------------------------------------------------
// 2. Colors
// -----------------------------------------------------------------------------
@import 'color';

// -----------------------------------------------------------------------------
// 3. Typography
// -----------------------------------------------------------------------------
@import 'typography';

// -----------------------------------------------------------------------------
// 4. Vertical Rhythm
// -----------------------------------------------------------------------------
// @import 'vertical-rhythm';


// -----------------------------------------------------------------------------
// 5. Site & Layout
// -----------------------------------------------------------------------------

// WP Admin Bar
// $adminbar__height: 3.2rem;
// $adminbar__mobile-height: 4.6rem;

// Brand bar
// $brand-bar__height: 4.8rem;
// $brand-bar__font-family: $heading-font-family;

// Nav
$site-nav__font-family: $heading-font-family;
$site-nav__height: 6rem;

// -----------------------------------------------------------------------------
// 6. Components
// -----------------------------------------------------------------------------
// $breakpoint-helper: true;
// $include-grid: true;