@charset "UTF-8";

// -----------------------------------------------------------------------------
// This file contains Site-wide typography
// -----------------------------------------------------------------------------
body {
  color: color(text);
  font-family: $base-font-family;
  line-height: $base-line-height;
  @include font-size($base-font-size, $root-font-size);

  // Responsive font sizes:
  @include grid-media($media-sm-max) {
    @include font-size(16px, $root-font-size)
  }

  @include grid-media($media-xl) {
    @include font-size(19px, $root-font-size)
  }

  @include grid-media($media-print) {
    @include font-size(12px, $root-font-size)
  }
}

#{$all-headlines} {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: modular-scale(0) 0 modular-scale(-4);
  font-weight: 300;
  text-align: center;
}

h1 {
  @include font-size(modular-scale(4))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(5));
  }
  margin-top: 0;
}

h2 {
  @include font-size(modular-scale(3))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(4));
  }
}

h3 {
  @include font-size(modular-scale(2))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(3));
  }
}

h4 {
  @include font-size(modular-scale(1))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(2));
  }
}

h5 {
  @include font-size(modular-scale(0))
  @include grid-media($media-sm) {
    @include font-size(modular-scale(1));
  }
}

h6 {
  @include font-size(modular-scale(0));
}

p {
  margin: 0 0 modular-scale(1);
}

.meta {
  text-align: center;
  font-weight: 300;
  color: color(action);
  font-size: modular-scale(1);
}
