<div id="footer">
  <p class="copyright vcard">&copy; <span class="fn org">Kevin Garcia</span>.&nbsp; <span class="adr"> <span class="locality">Sunnyvale</span>, <span class="region">California</span> <span class="postal-code">94085</span></span>.</p>
</div>{{! / #footer --}}
<script src="/js/vendor.js"></script>
  <script src="/js/app.js" onload="require('src/js/initialize.js');"></script>
