---
"nav-item":
  [
    {
    "name": "Home",
    "url": "index.html"
    },
    {
    "name": "Examples",
    "url": "examples.html",
    },
    {
    "name": "Readme",
    "url": "readme.html"
    }
  ]

site-name: Decanter
analytics-id: UA-XXXXX-Y

_options:
  partials:
    - app/partials/analytics.static.hbs
    - app/partials/head.static.hbs
    - app/partials/header.static.hbs
    - app/partials/nav.static.hbs
    - app/partials/footer.static.hbs
---
<!DOCTYPE html>
<html>
  <head>
  {{>head}}
  </head>
  <body {{#if page-id}}id="{{page-id}}"{{/if~}} class="{{#if has-sidebar}}with-sidebar {{/if~}}{{page-classes}}">
    <header role="banner" data-ga-category="header">
      {{>header}}
    </header>
    <nav id="site-navigation">
      {{>nav}}
    </nav>
    <main>
      {{content}}
    </main>
    <footer>
    {{>footer}}
    </footer>
  </body>
</html>