---
_options:
  partials:
    - src/partials/analytics.static.hbs
    - src/partials/head.static.hbs
    - src/partials/header.static.hbs
    - src/partials/nav.static.hbs
    - src/partials/footer.static.hbs

"nav-item":
  [
    {
    "name": "About",
    "url": "index.html"
    },
    {
    "name": "Examples",
    "url": "examples.html",
    },
    {
    "name": "Readme",
    "url": "readme.html"
    }
  ]

site-name: Decanter
analytics-id: UA-XXXXX-Y
---
<!DOCTYPE html>
<html>
  <head>
  {{>head}}
  </head>
  <body {{#if page-id}}id="{{page-id}}"{{/if~}} class="{{#if has-sidebar}}with-sidebar {{/if~}}{{page-classes}}">
    <header role="banner" data-ga-category="header">
      {{>header}}
    </header>
    <nav id="site-navigation">
      {{>nav}}
    </nav>
    <main id="main">
      {{content}}
    </main>
    <footer>
    {{>footer}}
    </footer>
  </body>
</html>
