/// This variable is a sass map that overrides our generic color map.
/// Use this to define your project's color palette.
///
/// @type map
///
/// @group settings
///
/// @name Colors
///
/// @property {color} color [null]
///   The color value retrieved by the color function
///
/// @example scss
///   $colors: (
///     brand: #8c1515,
///     text: #333,
///     link: #ff4136,
///     link-hover: 82121B,
///     red: #ff4136,
///   );
$colors: (
    brand:                        #004E75,
    action:                       #005675,
    action-active:                #003963,
    background:                   #fff,
    background-secondary:         #f0f0f0,
    background-tertiary:          #e8f7fc,
    border:                       #ccc,
    text:                         #121111,
    text-active:                  #005675,
    reverse-text:                 #fff,
    reverse-text-active:          #fff,
);